

<section id="title-micropousse">
    {% for i in titleMicro %}
        
    <div class=" m-auto d-flex flex-column justify-content-center align-items-center text-center">
        <h2 class="mt-2">{{ i.title }}</h2>
        <p class="mt-2"> {{ i.contenu }} </p>
        <hr>
        
    </div>

    {% endfor %}
</section>