#baniere {
    width: 100%;
    /* height: 430px; */
    
}

#baniereTitle{
    width: 100%;
    text-align: center;
    /* background-image: url('build/images/baniere.png'); */
}

#baniere img {
    width: 100%;
    max-height: 500px;
    margin-top: 5%;
    object-fit: cover;
}

.scroll-downs {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 34px;
    height: 55px;
    padding-top: 40px;
}

.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border-radius: 25px;
    border: 2px solid rgb(61, 211, 41);
    background-color: white;
    box-sizing: content-box;
}

.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: rgb(61, 211, 41);
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }

    10% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(15px);
        opacity: 0;
    }

}


