
/* SECTION 3 ______ HISTOIRE */
.equipe {
    margin-top: 50px;
}

#equipe-ville {
    width: 100%;
    margin-top: 120px;
    margin-bottom: 120px;
}

#card-membres .card {
    width: 200px;
    min-height:200px;
    margin-top: 60px;
    box-shadow: 0 10px 25px -4px rgba(99, 12, 80, 0.664);
}

#card-membres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/* #container .card-title h4{
    padding-top: 20px;
} */
